# Ignore node_modules in client and server folders
/client/node_modules
/server/node_modules

# Ignore all env files anywhere
.env*

# Your existing rules continue...
/.yarn/*
/.next/
/build
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vercel
*.tsbuildinfo
next-env.d.ts
